ServerAdmin root@localhost

DocumentRoot "<path to pithermo cloned repo>/frontend/"

# This should be changed to whatever you set DocumentRoot to.
<Directory "<path to pithermo cloned repo>/frontend/">
	Options Indexes FollowSymLinks
	AllowOverride All
	Require all granted
</Directory>

<IfModule alias_module>
	ScriptAlias /cgi-bin/ "<path to pithermo cloned repo>/cgi-bin/"
</IfModule>

<Directory "<path to pithermo cloned repo>/cgi-bin/">
	AllowOverride None
	Options None
	Require all granted
</Directory>

