
#auto-table {
	border-collapse: collapse;
	text-align: center;
}

#auto-table th, td {
	border-left: 1px solid black;
	border-right: 1px solid black;
	height: 2em;
	width: 2em;
}

#auto-table tbody tr {
	border-bottom: 1px solid black;
	border-top: 1px solid black;
}

#auto-table td img {
	width: 1em;
	height: 1em;
}

