
#modsel {
	width: 100%;
}

div.clear {
	clear: both;
}

#history-area {
	width: 100%;
    overflow: visible;
    background: cornsilk;
}

#history-controls {
    border-bottom: 1px inset black;
    vertical-align: middle;
    text-align: center;
    height: 2em;
}

#history-sel {
    width: 10em;
    display: inline-block;
    vertical-align: middle;
}

#history-graph {
	height: 16em;
	width: 100%;
	margin-bottom: -1em;
	margin-left: 1em;
	margin-top: 0px;
	margin-right: -5em;
}
