
#quick-heat {
	padding: 1em;
	background: pink;
	text-align: center;
}

#pellet-status {
	padding: 1em;
	background: peru;
	text-align: center;
}

#gas-status {
	padding: 1em;
	background: palegreen;
	text-align: center;
}

