
#program-table {
	border-collapse: collapse;
	text-align: center;
}

#program-table th, td {
	border-left: 1px solid black;
	border-right: 1px solid black;
	height: 2em;
	width: 2em;
}

#program-table tbody tr {
	border-bottom: 1px solid black;
	border-top: 1px solid black;
}

#program-table td img {
	width: 1em;
	height: 1em;
}

.program_now_h {
	background: green;
	color: yellow;
}
.program_now_c {
	background: lightgreen;
}

#program-selector {
	text-align: center;
}

#program-selector > div {
	display: inline-block;
	vertical-align: middle;
	border: 2px solid black;
	margin: 1em;
	padding: 1em;
}

#select-box {
	height: 6.5em;
}

#select-box > div {
	display: inline-block;
	vertical-align: middle;
	width: 5em;
	height: 100%;
}

#program-selector > div > div > img {
	height: 3em;
}

.program-selected {
	background: lightgreen;
	border: 1px solid black;
}

#temp-pane > div {
	display: inline-block;
        vertical-align: middle;
}

.temp-img {
	height: 2em;
        vertical-align: middle;
}

.program_now_h {
	background: green;
	color: yellow;
}
.auto_now_c {
	background: lightgreen;
}

