
#program-table {
	border-collapse: collapse;
	text-align: center;
    width: 100%;
}

#program-table th, td {
	border-left: 1px solid black;
	border-right: 1px solid black;
}

#program-table tbody tr {
	border-top: 1px dashed black;
}

.statrow {
    border-bottom: 2px solid black;
}

#program-changed {
    width: 100%;
    height: 1em;
    padding: 0.2em;
    background: blue;
}

.program-changed {
    background: yellow;
}

#program-table td img {
	width: 1.5em;
	height: 1.5em;
}

.program_now_h {
	background: green;
	color: yellow;
}

.copy_source {
	background: yellow;
	color: black;
}

.program_now_c {
	background: lightgreen;
}

#program-selector {
	text-align: center;
}

#program-selector > div {
	display: inline-block;
	vertical-align: middle;
	border: 2px solid black;
	margin: 1em;
	padding: 1em;
}

#select-box {
	height: 6.5em;
}

#select-box > div {
	display: inline-block;
	vertical-align: middle;
	width: 5em;
	height: 100%;
}

#program-selector > div > div > img {
	height: 3em;
}

.program-selected {
	background: lightgreen;
	border: 1px solid black;
}

#temp-pane > div {
	display: inline-block;
        vertical-align: middle;
}

.temp-img {
	height: 2em;
        vertical-align: middle;
}

.program_now_h {
	background: green;
	color: yellow;
}
.auto_now_c {
	background: lightgreen;
}

.copy_icon {
	width: 1em;
}

.status_label {
    font-style: italic;
    font-size: 80%;
}

