
#status {
	width: 100%;
	height: 14em;
}

#status > div {
	padding: 1em;
	background: peru;
	text-align: center;
	float:left;
	width: 30%;
	height: 100%;
	border-right: 1px dashed black;
}

p.status-title {
	font-style: bold;
	font-size: 140%;
	border-bottom: 1px dotted black;
}

img.status-icon {
	height: 5em;
}

img.status-icon-sub {
	height: 1em;
}

img#pellet-feedback-led {
	height: 2em;
}

#pellet-status > div {
	display: inline-block;
        vertical-align: middle;
}

#messages {
	margin-left: 3em;
	margin-right: 3em;
	margin-bottom: 1em;
	border: 2px solid gray;
	height: 5em;
	overflow-y: scroll;
	background: lightyellow;
	color: blue;
}

#messages > ul {
	list-style: none;
}

div#times {
	margin-top: 1em;
}

div#times > p {
	margin: 0;
	padding: 0;
}

