

div#program  {
	display: none;
}

div#program  {
	display: none;
}

div.clear {
	clear: both;
}

#manual-controls {
	text-align: center;
}

#manual-controls > div {
	margin: 1em;
	padding: 1em;
	border: 1px solid gray;
	
}

#manual-controls > div > img {
	height: 2em;
}

#quick-heat {
	background: pink;
}

#pellet-status {
	background: peru;
}

#gas-status {
	background: palegreen;
}

#current {
	text-align: center;
}

#current > table {
	width: 100%;
	border: 1px solid gray;
	border-collapse: collapse;
}

#current > table tr {
	border: 1px solid gray;
}

.current-header {
	width: 13%;
}

.current-cell {
	border-right: 1px solid gray;
	border-left: 1px solid gray;
}

.header-hour {
	width: 3em;
	text-align: right;
}

.header-hhour {
	width: 3em;
	text-align: left;
	border-bottom: 1px dotted gray;
}
